# Регрессия 
Какая метрика подходит для задачи регрессии? Средняя квадратичная ошибка!
Что будет «правильным ответом» в вашей задаче? Полное, вплоть до последнего рубля, совпадение цены квартиры? Если абсолютная точность в задаче не важна, метрика accuracy не подходит.
Наиболее распространённая метрика качества в задаче регрессии — средняя квадратичная ошибка. В прошлых уроках вы добивались наибольшего значения accuracy. Величина MSE, наоборот, должна быть как можно меньше.

In [14]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [15]:
train_data = pd.read_csv("train_data.csv")

In [6]:
def mse(answers, prediction):
    mses = 0
    for i in range(len(answers)):
        mses += (prediction[i] - answers[i])**2
    return mses / len(answers)

In [7]:
answers = [623, 253, 150, 237]
predictions = [649, 253, 370, 148]

In [9]:
print(mse(answers,predictions))

14249.25

In [11]:
mse1 = mean_squared_error(answers,predictions)

In [12]:
mse1

14249.25

In [16]:
features = train_data.drop("last_price", axis=1)

In [20]:
target = train_data["last_price"] / 1000000

In [21]:
features

,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,59.0,2,2.87,4.0,31.5,2,0.0,0.0,0.0,6.6,0.0,20485.0,8180.0
1,109.0,4,3.15,5.0,72.0,2,0.0,0.0,0.0,12.2,0.0,42683.0,8643.0
2,74.5,3,2.58,10.0,49.0,9,0.0,0.0,0.0,10.8,0.0,14078.0,16670.0
3,37.4,1,2.50,9.0,20.0,4,0.0,0.0,0.0,6.2,2.0,17792.0,17699.0
4,64.9,3,2.65,12.0,41.9,11,0.0,0.0,0.0,10.4,0.0,14767.0,10573.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,40.1,1,2.65,10.0,20.1,6,0.0,0.0,0.0,10.8,1.0,26495.0,14198.0
6491,158.5,7,2.95,7.0,57.4,7,0.0,0.0,0.0,12.4,1.0,23546.0,3088.0
6492,62.1,2,2.75,20.0,31.0,6,0.0,0.0,0.0,13.9,2.0,34506.0,14375.0
6493,66.0,3,2.50,12.0,42.2,6,0.0,0.0,0.0,10.5,0.0,12892.0,11225.0
6494,48.0,1,2.70,9.0,20.0,9,0.0,0.0,0.0,13.0,2.0,33641.0,14027.0

In [23]:
target.mean()

8.05028371377983

In [25]:
predictions = pd.Series(target.mean(), index = target.index)

In [26]:
predictions

0       8.050284
1       8.050284
2       8.050284
3       8.050284
4       8.050284
          ...
6490    8.050284
6491    8.050284
6492    8.050284
6493    8.050284
6494    8.050284
Length: 6495, dtype: float64

In [27]:
mse = mean_squared_error(target, predictions)

In [28]:
mse

138.24439686023302

In [31]:
rmse = mse ** 0.5

In [32]:
rmse

11.757737744151