In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier

In [106]:
train_data = pd.read_csv("train_data.csv")

In [107]:
train_data.shape

(6495, 14)

In [108]:
train_data.head(5)

,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,5400000.0,59.0,2,2.87,4.0,31.5,2,0.0,0.0,0.0,6.6,0.0,20485.0,8180.0
1,13200000.0,109.0,4,3.15,5.0,72.0,2,0.0,0.0,0.0,12.2,0.0,42683.0,8643.0
2,7000000.0,74.5,3,2.58,10.0,49.0,9,0.0,0.0,0.0,10.8,0.0,14078.0,16670.0
3,3200000.0,37.4,1,2.50,9.0,20.0,4,0.0,0.0,0.0,6.2,2.0,17792.0,17699.0
4,6650000.0,64.9,3,2.65,12.0,41.9,11,0.0,0.0,0.0,10.4,0.0,14767.0,10573.0

В анализе данных строки назывались наблюдениями, 
а столбцы — переменными. В машинном обучении в строках записываем объекты, 
а в столбцах — признаки. Признак, который нужно предсказать, 
 — целевой: в нашей задаче это last_price

В вашем распоряжении обучающий набор данных и целевой признак, 
который нужно предсказать по остальным признакам, — цена продажи жилья. 
Такие задачи относятся к классу «обучение с учителем» (от англ. supervised learning). 
«Учитель» ставит вопросы (признаки) и указывает ответы (целевой признак).

Напомним, что все переменные и признаки бывают двух типов: категориальные и количественные. 
Целевой признак не исключение.Если целевой признак категориальный, 
то решается задача классификации (например, определить на изображении животное). 
Когда категорий всего две — допустим, вернётся или нет в интернет-магазин клиент — 
речь идёт о бинарной (двоичной) классификации.Целевой признак количественный? 
Это задача регрессии — по данным восстанавливается зависимость между переменными. 
Так можно предсказать количество репостов новости или объём продаж интернет-магазина на ближайший месяц.

In [109]:
price_media = train_data.last_price.median()

In [110]:
train_data.loc[train_data["last_price"]>price_media, "price_class"] = 1
train_data.loc[train_data["last_price"]<=price_media, "price_class"] = 0

In [111]:
train_data

,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest,price_class
0,5400000.0,59.0,2,2.87,4.0,31.5,2,0.0,0.0,0.0,6.6,0.0,20485.0,8180.0,0.0
1,13200000.0,109.0,4,3.15,5.0,72.0,2,0.0,0.0,0.0,12.2,0.0,42683.0,8643.0,1.0
2,7000000.0,74.5,3,2.58,10.0,49.0,9,0.0,0.0,0.0,10.8,0.0,14078.0,16670.0,1.0
3,3200000.0,37.4,1,2.50,9.0,20.0,4,0.0,0.0,0.0,6.2,2.0,17792.0,17699.0,0.0
4,6650000.0,64.9,3,2.65,12.0,41.9,11,0.0,0.0,0.0,10.4,0.0,14767.0,10573.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,5000000.0,40.1,1,2.65,10.0,20.1,6,0.0,0.0,0.0,10.8,1.0,26495.0,14198.0,0.0
6491,15350000.0,158.5,7,2.95,7.0,57.4,7,0.0,0.0,0.0,12.4,1.0,23546.0,3088.0,1.0
6492,6850000.0,62.1,2,2.75,20.0,31.0,6,0.0,0.0,0.0,13.9,2.0,34506.0,14375.0,1.0
6493,5650000.0,66.0,3,2.50,12.0,42.2,6,0.0,0.0,0.0,10.5,0.0,12892.0,11225.0,0.0
6494,4500000.0,48.0,1,2.70,9.0,20.0,9,0.0,0.0,0.0,13.0,2.0,33641.0,14027.0,0.0

In [112]:
features  = list(train_data.columns)

In [113]:
features.remove("last_price")

In [114]:
features.pop()

'price_class'

In [115]:
features

['total_area',
 'rooms',
 'ceiling_height',
 'floors_total',
 'living_area',
 'floor',
 'is_apartment',
 'studio',
 'open_plan',
 'kitchen_area',
 'balcony',
 'airports_nearest',
 'cityCenters_nearest']

In [116]:
target = "price_class"

In [117]:
features = train_data[features] #признаки

In [118]:
features.shape

(6495, 13)

In [119]:
target = train_data[target] #целевой признак

In [120]:
target

0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
6490    0.0
6491    1.0
6492    1.0
6493    0.0
6494    0.0
Name: price_class, Length: 6495, dtype: float64

In [121]:
target.shape

(6495,)

In [122]:
model = DecisionTreeClassifier() #объекст структуры данных DecisionTreeClassifier, т.е наша модель

In [123]:
model.fit(features, target) #обучение

DecisionTreeClassifier()

In [124]:
new_features = pd.DataFrame([[None, None, 2.8, 25, None, 25, 0, 0, 0, None, 0, 30706.0, 7877.0],
                              [None, None, 2.75, 25, None, 25, 0, 0, 0, None, 0, 36421.0, 9176.0]],
                            columns=features.columns)

In [125]:
new_features

,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,None,None,2.80,25,None,25,0,0,0,None,0,30706.0,7877.0
1,None,None,2.75,25,None,25,0,0,0,None,0,36421.0,9176.0

In [126]:
new_features.loc[0, 'total_area'] = 900.0
new_features.loc[1, 'total_area'] = 109.0
new_features.loc[0, 'rooms'] = 12 
new_features.loc[1, 'rooms'] = 2
new_features.loc[0, 'living_area'] = 409.7
new_features.loc[1, 'living_area'] = 32.0
new_features.loc[0, 'kitchen_area'] = 112
new_features.loc[1, 'kitchen_area'] = 40.5

In [127]:
new_features #новые объекты

,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,900.0,12,2.80,25,409.7,25,0,0,0,112,0,30706.0,7877.0
1,109.0,2,2.75,25,32.0,25,0,0,0,40.5,0,36421.0,9176.0

In [128]:
answers = model.predict(new_features) #предсказания

In [129]:
answers

array([1., 0.])

<div style="
    background: #e3f2fd;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #90caf9;
">
    <i class="fa fa-book" style="color: #1976d2;"></i> 
    <strong style="color: #1976d2;">Глава 3. Обучение модели</strong>
</div>

In [130]:
model = DecisionTreeClassifier(random_state = 12345)

In [131]:
model.fit(features,target)

DecisionTreeClassifier(random_state=12345)

In [135]:
test_df = pd.read_csv("C:/Users/Рафаэль/yandex.kurs/5past/1step/test_data.csv")

In [136]:
test_df.loc[test_df["last_price"] > 5650000, 'price_class'] = 1
test_df.loc[test_df["last_price"] <= 5650000, 'price_class'] = 0

In [147]:
test_features = test_df.drop(["last_price","price_class", "Unnamed: 0"], axis = 1)

In [148]:
test_features

,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,41.6,1,2.70,17.0,17.0,2,0.0,0.0,0.0,12.0,2.0,16087.0,14883.0
1,45.0,1,2.75,16.0,18.0,2,0.0,0.0,0.0,12.0,0.0,32869.0,8628.0
2,48.0,2,2.50,14.0,26.0,12,0.0,0.0,0.0,7.5,1.0,51610.0,14684.0
3,78.0,4,2.80,9.0,55.0,1,0.0,0.0,0.0,10.0,2.0,29186.0,12791.0
4,68.9,3,2.50,9.0,40.4,4,0.0,0.0,0.0,8.1,0.0,40476.0,12170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,48.2,2,2.53,5.0,34.4,5,0.0,0.0,0.0,5.5,0.0,19783.0,11314.0
644,62.0,3,2.55,14.0,41.3,11,0.0,0.0,0.0,7.8,4.0,41512.0,11821.0
645,64.4,3,2.50,9.0,28.0,7,0.0,0.0,0.0,6.3,0.0,46548.0,16476.0
646,43.7,2,2.50,9.0,26.8,4,0.0,0.0,0.0,6.2,2.0,51489.0,17158.0
647,45.0,2,2.50,5.0,31.0,4,0.0,0.0,0.0,6.0,1.0,40951.0,11133.0

In [149]:
test_target = test_df["price_class"]

In [150]:
target

0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
6490    0.0
6491    1.0
6492    1.0
6493    0.0
6494    0.0
Name: price_class, Length: 6495, dtype: float64

In [151]:
test_predictions = model.predict(test_features)

In [181]:
train_predictions = model.predict(features)

In [152]:
test_predictions

array([0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 1., 0., 0.,
       1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0.,
       1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1.,
       1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0.,
       0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1.,
       1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1.,
       1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 0.,
       0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0.,
       0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0.,
       1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0.,
       1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1.,
       0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1.,
       1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1.,
       1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1.,
       1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 0.,
       0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0.])

In [170]:
def error_count(answer,prediction):
    count = 0 
    for i in range(len(answer)):
        if answer[i] != prediction[i]:
            count +=1
        else:
            continue
    return count

In [83]:
test_df.drop(["last_price","price"])

,Unnamed: 0,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest,price_class
0,0,3900000.0,41.6,1,2.70,17.0,17.0,2,0.0,0.0,0.0,12.0,2.0,16087.0,14883.0,0.0
1,1,5800000.0,45.0,1,2.75,16.0,18.0,2,0.0,0.0,0.0,12.0,0.0,32869.0,8628.0,0.0
2,2,4900000.0,48.0,2,2.50,14.0,26.0,12,0.0,0.0,0.0,7.5,1.0,51610.0,14684.0,0.0
3,3,5300000.0,78.0,4,2.80,9.0,55.0,1,0.0,0.0,0.0,10.0,2.0,29186.0,12791.0,0.0
4,4,10000000.0,68.9,3,2.50,9.0,40.4,4,0.0,0.0,0.0,8.1,0.0,40476.0,12170.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,643,3399000.0,48.2,2,2.53,5.0,34.4,5,0.0,0.0,0.0,5.5,0.0,19783.0,11314.0,0.0
644,644,6500000.0,62.0,3,2.55,14.0,41.3,11,0.0,0.0,0.0,7.8,4.0,41512.0,11821.0,0.0
645,645,5000000.0,64.4,3,2.50,9.0,28.0,7,0.0,0.0,0.0,6.3,0.0,46548.0,16476.0,0.0
646,646,4450000.0,43.7,2,2.50,9.0,26.8,4,0.0,0.0,0.0,6.2,2.0,51489.0,17158.0,0.0
647,647,3400000.0,45.0,2,2.50,5.0,31.0,4,0.0,0.0,0.0,6.0,1.0,40951.0,11133.0,0.0

In [171]:
print(error_count(test_target,test_predictions))

91

In [175]:
def accuracy(answers, prediction):
    count1 = 0
    for i in range(len(answers)):
        if answers[i] == prediction[i]:
            count1 +=1
        else:
            continue
    return count1/len(answers)

In [176]:
print(accuracy(test_target, test_predictions))

0.8595679012345679

# Метрики качества

Если accuracy == 0.4, какое качество модели? Низкое! Даже случайные ответы дают результат лучше.
Всегда сравнивайте модель со случайной, так вы сможете оценить её адекватность, или проверить на вменяемость

В библиотеке sklearn метрики находятся в модуле sklearn.metrics. 
Вычисляется accuracy функцией accuracy_score(). Функция принимает на вход два аргумента: 1) правильные ответы, 2) предсказания модели.Возвращает она значение accuracy.

In [178]:
from sklearn.metrics import accuracy_score

In [184]:
accuracy_test = accuracy_score(test_target, test_predictions)

In [182]:
accuracy = accuracy_score(target,train_predictions)

In [185]:
accuracy_test

0.8595679012345679

In [186]:
accuracy

0.9998460354118552

# Переобучение и недообучение

Обнаружили, что accuracy на тестовой выборке модели ниже, чем на обучающей? В машинном обучении такое встречается часто. Почему?
Модель хорошо объясняла примеры из обучающего набора данных, но запуталась в тестовой выборке и не смогла ответить правильно? Вы столкнулись с проблемой переобучения.
Такое бывает у всех. Представьте: чтобы подготовиться к экзамену, вы решаете прошлогодние задачи. Стараетесь, доводите до автоматизма, выполняете одно и то же задание по нескольку раз. А на экзамене вам достаётся задача, которую ни разу не решали. К такому повороту вы не были готовы и получили низкую оценку. Как и ваша модель сейчас.
Обратный эффект — недообучение. Оно возникает, когда качество на обучающей и тестовой выборках примерно одинаковое, причём низкое. Эх, не удалось перед экзаменом не то, что ответы зазубрить, а вообще билеты дочитать.

Переобучение означает, что модель плохо поняла зависимости в данных.
Верно. Зубрёжка такая зубрёжка. Модель запомнила только ответы, но не поняла сути.

Глубина дерева в sklearn задаётся параметром max_depth

In [194]:
best_result = 0

In [195]:
best_modelt = None

In [187]:
model = DecisionTreeClassifier(random_state=12345, max_depth=5)

In [189]:
model.fit(features, target)

DecisionTreeClassifier(max_depth=5, random_state=12345)

In [190]:
predictions = model.predict(features)

In [191]:
accuracy1 = accuracy_score(target,predictions)

In [192]:
accuracy1

0.891301000769823

In [196]:
if accuracy1 > best_result:
    best_model = model
    best_result = accuracy1

In [197]:
best_result

0.891301000769823

In [2]:
train_data.describe

NameError: name 'train_data' is not defined